@{
    ViewBag.Title = "Contact";
}
<div class="row" style="margin-top: 20px">
    <div class="col-md-5 col-md-offset-2 col-xs-12 col-sm-12">
        <h3 style="color: indigo;margin-bottom:10px">Contact Us</h3>
        <form role="form">
            <div class="form-group">

                <input type="text" class="form-control" id="name" placeholder="Your Name" required="required" />
            </div>
            <div class="form-group">

                <input type="email" class="form-control" id="email" placeholder="Your Email" required="required" />
            </div>
            <div class="form-group">

                <textarea cols="105" rows="7" id="description" name="description" placeholder="Your Message"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    
    
    <div class="col-md-5 col-xs-12 col-sm-12">
        <h3 style="color: indigo;margin-bottom:10px">Shop Information</h3>
        <p>SellPhones</p>
        <p>Siddique Trade Center Gulberg III</p>
        <p>Lahore</p>
        <p>Phone: (00) 222 666 444</p>
        <p>Fax: (000) 000 00 00 0</p>
        <p>Email: info@sellphones.com</p>
        <p>
            Follow On: <span>
                <a href="www.facebook.com"><img src="~/img/facebook.png" alt="facebook" /></a>
                <a href="www.twitter.com"><img src="~/img/twitter.png" alt="twitter" /></a>
                <a href="www.plus.google.com"><img src="~/img/google.png" alt="google Plus" /></a>
            </span>
        </p>
    </div>
</div>