<div class="latest">
    <div class="content">
        <div class="content_top">
            <div class="heading">
                <h3>Latest Products</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-6 col-md-3">
            <div class="thumbnail">
                <a href="#">
                    <img src="~/img/Note4s.jpg" alt="" />
                </a>
                <h4 style="text-align:center">
                    Samsung<br />
                    Galaxy Note4
                </h4>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">Rs. 84,000</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="#">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6 col-md-3">
            <div class="thumbnail">
                <a href="#">
                    <img src="~/img/AscendMate7s.jpg" alt="" />
                </a>

                <h4 style="text-align:center">
                    Huawei
                    <br />
                    Ascend Mate 7
                </h4>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">Rs. 49,999</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="#">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6 col-md-3">
            <div class="thumbnail">
                <a href="#">
                    <img src="~/img/XperiaZ3s.jpg" alt="" />
                </a>

                <h4 style="text-align:center">
                    Sony
                    <br />
                    Xperia Z3
                </h4>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">Rs. 60,000</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="#">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6 col-md-3">
            <div class="thumbnail">
                <a href="#">
                    <img src="~/img/S860s.jpg" alt="" />
                </a>

                <h4 style="text-align:center">
                    Lenovo
                    <br />
                    S860
                </h4>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">Rs. 35,500</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="#">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-6 col-md-3">
            <div class="thumbnail">
                <a href="#">
                    <img src="~/img/iPhone6Pluss.jpg" alt="" />
                </a>
                <h4 style="text-align:center">
                    Apple
                    <br />
                    iPhone6 Plus
                </h4>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">Rs. 83,500</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="#">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6 col-md-3">
            <div class="thumbnail">
                <a href="#">
                    <img src="~/img/Lumia830s.jpg" alt="" />
                </a>

                <h4 style="text-align:center">
                    Nokia
                    <br />
                    Lumia 830
                </h4>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">Rs. 45,400</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="#">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6 col-md-3">
            <div class="thumbnail">
                <a href="#">
                    <img src="~/img/NoirX800s.jpg" alt="" />
                </a>

                <h4 style="text-align:center">
                    QMobile
                    <br />
                    Noir X800
                </h4>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">Rs. 19,500</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="#">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6 col-md-3">
            <div class="thumbnail">
                <a href="#">
                    <img src="~/img/HonorHollys.jpg" alt="" />
                </a>

                <h4 style="text-align:center">
                    Huawei
                    <br />
                    Honor Holly
                </h4>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">Rs. 17,999</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="#">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
